node-red-web-request.json
[{"id":"1b12cd7e.7f6d73","type":"tab","label":"web-request","disabled":false,"info":""},{"id":"ca677c3c.a1497","type":"template","z":"1b12cd7e.7f6d73","name":"Door Access Register Page","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        \n        <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-pLgJ8jZ4aoPja/9zBSujjzs7QbkTKvKw1+zfKuumQF9U+TH3xv09UUsRI52fS+A6\" crossorigin=\"anonymous\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css\">\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js\"></script>\n        \n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        \n        <title>Door Access Register</title>\n        <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n        \n            $(document).ready(function(){\n                $(\"form\").submit(function(){\n                    alert(\"Submitted\");\n                });\n            });\n            \n        </script>\n    </head>\n<body>\n\n\n<div class=\"container\">\n    <h1 align=\"center\">User Access Registration</h1>\n\n    <form action=\"/door-access/register\" method=\"post\">\n        \n        <div class=\"form-group\">\n            <label for=\"username\">Full Name</label>\n            <input class=\"form-control\" id=\"username\" name=\"username\">\n        </div>\n        \n        <div class=\"form-group\">\n            <label for=\"place\">Email</label>\n            <input class=\"form-control\" id=\"email\" name=\"email\">\n        </div>\n        \n        <div class=\"form-group\">\n            <label for=\"datetime_in\">Date and time in</label>\n            <input class=\"form-control\" type=\"datetime-local\" id=\"datetime_in\" name=\"datetime_in\">\n        </div>\n        \n        <div class=\"form-group\">\n            <label for=\"datetime_out\">Date and time out</label>\n            <input class=\"form-control\" type=\"datetime-local\" id=\"datetime_out\" name=\"datetime_out\">\n        </div>\n        \n        <div align=\"center\">\n            <fieldset class=\"form-group\">\n                <button type=\"submit\" class=\"btn btn-primary\" align=\"center\">Submit</button>\n            </fieldset>\n        </div>\n    </form>\n    \n</div>\n\n</body>\n</html>","output":"str","x":460,"y":100,"wires":[["a552af64.9a17e"]]},{"id":"dd2a6d83.7e2c","type":"http in","z":"1b12cd7e.7f6d73","name":"","url":"/door-access/register","method":"get","upload":false,"swaggerDoc":"","x":170,"y":100,"wires":[["ca677c3c.a1497"]]},{"id":"a552af64.9a17e","type":"http response","z":"1b12cd7e.7f6d73","name":"","statusCode":"","headers":{},"x":730,"y":100,"wires":[]},{"id":"86dc09fd.c31208","type":"http in","z":"1b12cd7e.7f6d73","name":"","url":"/door-access/register","method":"post","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["1eb9db24.b6e795"]]},{"id":"d2372be3.a10208","type":"template","z":"1b12cd7e.7f6d73","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO door_access (access_id, username, email, datetime_in, datetime_out)\nVALUES ('{{payload.access_id}}', '{{payload.username}}', '{{payload.email}}','{{payload.datetime_in}}','{{payload.datetime_out}}')","output":"str","x":640,"y":360,"wires":[["ead4517c.93ddf"]]},{"id":"ead4517c.93ddf","type":"sqlite","z":"1b12cd7e.7f6d73","mydb":"2eb06147.305e3e","sqlquery":"msg.topic","sql":"SELECT * FROM user","name":"db","x":790,"y":360,"wires":[["1b8d9c47.c26784"]]},{"id":"1b8d9c47.c26784","type":"debug","z":"1b12cd7e.7f6d73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":360,"wires":[]},{"id":"36e9c190.29fe6e","type":"http response","z":"1b12cd7e.7f6d73","name":"","statusCode":"","headers":{},"x":950,"y":300,"wires":[]},{"id":"c804c24a.b56ed","type":"uuid","z":"1b12cd7e.7f6d73","uuidVersion":"v1","namespaceType":"custom","namespace":"","namespaceCustom":"acc","name":"","field":"payload.booking_id","fieldType":"msg","x":370,"y":560,"wires":[[]]},{"id":"330c3a9a.2dc576","type":"http in","z":"1b12cd7e.7f6d73","name":"","url":"/door-access/validate","method":"post","upload":false,"swaggerDoc":"","x":170,"y":440,"wires":[["c45e6e45.a501c"]]},{"id":"d07c2ca0.0219e","type":"sqlite","z":"1b12cd7e.7f6d73","mydb":"6e6b5a10.9106f4","sqlquery":"msg.topic","sql":"SELECT * FROM booking","name":"db","x":590,"y":440,"wires":[["b29f0e6d.7ae8","5475a36e.b7141c"]]},{"id":"5475a36e.b7141c","type":"http response","z":"1b12cd7e.7f6d73","name":"","statusCode":"","headers":{},"x":910,"y":440,"wires":[]},{"id":"b29f0e6d.7ae8","type":"debug","z":"1b12cd7e.7f6d73","name":"sqlite","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":500,"wires":[]},{"id":"c45e6e45.a501c","type":"function","z":"1b12cd7e.7f6d73","name":"Find Access ID","func":"msg.topic = \"SELECT * FROM door_access WHERE access_id LIKE '%\" + msg.payload.access_id+ \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["d07c2ca0.0219e"]]},{"id":"de073eb9.bde26","type":"template","z":"1b12cd7e.7f6d73","name":"QR Code Access Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-pLgJ8jZ4aoPja/9zBSujjzs7QbkTKvKw1+zfKuumQF9U+TH3xv09UUsRI52fS+A6\" crossorigin=\"anonymous\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css\">\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js\"></script>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        \n        <title>QR Code Access</title>\n        <script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n        \n            $(document).ready(function(){\n                \n                $(\"form\").submit(function(){\n                });\n    \n            });\n\n        </script>\n    </head>\n<body>\n\n\n<div class=\"container\">\n    \n    <h1 align=\"center\">Your registration is successful!</h1>\n    \n    <div align=\"center\">\n        <img id='qrcode' \n        src= \"https://api.qrserver.com/v1/create-qr-code/?data={{payload.access_id}}&amp;size=500x500\"\n        alt=\"qrcode\" \n        title=\"Your QR code access.\" \n        width=\"250\" \n        height=\"250\" />\n    </div>\n    \n    <div></div>\n\n    <div align=\"center\">\n        <form action=\"/door-access/register\" method=\"get\">\n            <button type=\"submit\" class=\"btn btn-primary\">Home</button>\n        </form>\n    </div>\n    \n</div>\n\n</body>\n</html>","output":"str","x":700,"y":300,"wires":[["36e9c190.29fe6e"]]},{"id":"8355d8c6.7846e8","type":"comment","z":"1b12cd7e.7f6d73","name":"Front End UI","info":"","x":130,"y":60,"wires":[]},{"id":"25e7873e.5f4ce8","type":"comment","z":"1b12cd7e.7f6d73","name":"HTTP API","info":"","x":120,"y":260,"wires":[]},{"id":"1eb9db24.b6e795","type":"function","z":"1b12cd7e.7f6d73","name":"UUID Generator","func":"var S4 = function() {\n       return (((1+Math.random())*0x10000)|0).toString(16).substring(1);\n    };\n    \nmsg.payload.access_id = (S4()+S4()+\"-\"+S4());\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["c34f0016.8044f","de073eb9.bde26","d2372be3.a10208"]]},{"id":"c34f0016.8044f","type":"debug","z":"1b12cd7e.7f6d73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.booking_id","targetType":"msg","x":750,"y":180,"wires":[]},{"id":"2eb06147.305e3e","type":"sqlitedb","z":"","db":"/mnt/d/dev/qr_code_door_access/door-access.db","mode":"RWC"},{"id":"6e6b5a10.9106f4","type":"sqlitedb","z":"","db":"/mnt/d/dev/qr_code_door_access/door-access.db","mode":"RWC"}]