node-red-db-admin.json
[{"id":"7f529ffb.09fa4","type":"tab","label":"db-admin","disabled":false,"info":""},{"id":"6e26c0db.1c002","type":"sqlite","z":"7f529ffb.09fa4","mydb":"2eb06147.305e3e","sqlquery":"msg.topic","sql":"CREATE TABLE booking (\nbooking_id, \nusername, \nplace, \ndate_in,\ndate_out\n)","name":"db","x":710,"y":340,"wires":[[]]},{"id":"f6868725.6d44f8","type":"inject","z":"7f529ffb.09fa4","name":"CREATE door_access","topic":"CREATE TABLE door_access (access_id, username, email, datetime_in, datetime_out)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":240,"wires":[["6e26c0db.1c002"]]},{"id":"6ac46c10.ef88f4","type":"inject","z":"7f529ffb.09fa4","name":"DROP door_access","topic":"DROP TABLE door_access","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":380,"wires":[["6e26c0db.1c002"]]},{"id":"ae17f2a1.ca226","type":"comment","z":"7f529ffb.09fa4","name":"Drop Table","info":"","x":300,"y":340,"wires":[]},{"id":"312705ec.b8cb2a","type":"comment","z":"7f529ffb.09fa4","name":"Create Table","info":"","x":310,"y":200,"wires":[]},{"id":"4298b8f1.3a7018","type":"inject","z":"7f529ffb.09fa4","name":"DELETE door_access","topic":"DELETE FROM door_access","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":520,"wires":[["6e26c0db.1c002"]]},{"id":"afa2b5c3.3bf158","type":"comment","z":"7f529ffb.09fa4","name":"Empty Table","info":"","x":310,"y":480,"wires":[]},{"id":"2eb06147.305e3e","type":"sqlitedb","z":"","db":"/mnt/d/dev/qr_code_door_access/door-access.db","mode":"RWC"}]